<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\RobotVibot.IOTService.dll .\MTracking.IOTService.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: DC6BC123-21FE-474A-8C15-A3D5D1E714C9-->
<!--ProjectGuid: E45523C5-0993-4567-BA3A-763ACB516AC5-->